<div class="whole_page">

  {{#if car}}
    {{#each car}}
      <!--<p>
        {{log car}}
        {{TYPE}}
        {{MAKE}}
        {{MODEL}}
        {{YEAR}}
        {{MILES}}
        {{MPG}}
        {{COLOR}}
        {{PRICE}}
      </p>
-->

      <div class="title_container">
        <h1 class="name_title">
          {{YEAR}}
          {{MAKE}}
          {{MODEL}}
        </h1>
      </div>
      <div class="gallery_container">
        <div class="slide-container">
          <span class="slider-span" id="slider-span1"></span>
          <span class="slider-span" id="slider-span2"></span>
          <span class="slider-span" id="slider-span3"></span>
          <span class="slider-span" id="slider-span4"></span>
          <span class="slider-span" id="slider-span5"></span>

          <div class="image-slider">

            <div class="slides-div" id="slide-2">
              <img src="{{BACKPHOTO}}" alt="" class="img" id="img2" />
              <a href="#slider-span2" class="button" id="button-2"></a>
            </div>
            <div class="slides-div" id="slide-3">
              <img src="{{MAINPHOTO}}" alt="" class="img" id="img3" />
              <a href="#slider-span3" class="button" id="button-3"></a>
            </div>
            <div class="slides-div" id="slide-4">
              <img src="{{FRONTPHOTO}}" alt="" class="img" id="img4" />
              <a href="#slider-span4" class="button" id="button-4"></a>
            </div>

          </div>
        </div>
      </div>
      <div class="Overview_Title_container">
        <h2 class="Overview_Title_text">Overview</h2>
        <div class="line"></div>
      </div>
      <div class="detail_container">
        <div class="info_container">

          <div class="specs_container">

            <div class="top_one top">
              <img
                class="drive_icon icons"
                src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/84664923216267953713602-128.png?v=1669049452965"
              />
              <div class="text_container">
                <h3 class="info_spec">
                  {{DRIVE}} wheel drive
                </h3>
                <p class="type_spec">
                  Drive Type
                </p>
              </div>
            </div>

            <div class="top_two top">
              <img
                class="engine_icon icons"
                src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/19623620751640841241-128.png?v=1669049451896"
              />
              <div class="text_container">
                <h3 class="info_spec">
                  {{CENGINE}}cyl/{{LENGINE}} L
                </h3>
                <p class="type_spec">
                  Engine Type
                </p>
              </div>
            </div>

            <div class="top_three top">
              <img
                class="gas_icon icons"
                src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/9327231371556280914-128.png?v=1669049452339"
              />
              <div class="text_container">
                <h3 class="info_spec">
                  {{CMPG}} City/ {{HMPG}} Hwy
                </h3>
                <p class="type_spec">
                  miles per gallon
                </p>
              </div>
            </div>

            <div class="bottom_one bottom">
              <img
                class="owners_icon icons"
                src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/8835701331556281664-128.png?v=1669049452532"
              />
              <div class="text_container">
                <h3 class="info_spec">
                  {{OWNERS}} owners
                </h3>
                <p class="type_spec">
                  Prior Owners
                </p>
              </div>
            </div>

            <div class="bottom_two bottom">
              <img
                class="color_icon icons"
                src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/6424188411555931402-128.png?v=1669063850572"
              />

              <div class="text_container">
                <h3 class="info_spec">
                  {{COLOR}}
                </h3>
                <p class="type_spec">
                  Color
                </p>
              </div>
            </div>

            <div class="bottom_three bottom">
              <img
                class="transmission_icon icons"
                src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/8893889031595988887-128.png?v=1669049452125"
              />
              <div class="text_container">
                <h3 class="info_spec">
                  Automatic
                </h3>
                <p class="type_spec">
                  Transmission
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="loan_calc_title">
        <div class="load_title_container"><h1>Estimate your car payment</h1></div>
        <div class="load_dis_container">
          <h2>Just enter your intrest rate and how many months you want to pay
            it in and we will do the rest!</h2></div>
      </div>

  
      
      <div class="loan_stuff">

        
        <div class="loancal">
          <div class="loancal_text_container">
            
          <div class="loan_price_container">
            <p class="loan_price_title">Price of Vehicle</p>
           
            <p class="loan_price" id="amount">${{PRICE}}</p>
             <div class="line_3"></div>
          </div>
          <div class="input">
            <div class= "input_1 inputs">           
            <p class= "loan_p">Interest Rate: %</p>
            <input
              id="interest_rate"
              min="0"
              max="100"
              value="10"
              step=".1"
              onchange="computeLoan()"
            />
          </div>
            <div class = "input_2 inputs">
            
            <p class= "loan_p">Months to Pay: </p>
            <input
              id="months"
              type="number"
              min="1"
              max="300"
              value="72"
              
              onchange="computeLoan()"
            />
              
            </div>
          </div>
          </div>
        </div>
        <div class="loan_output_card">
          <div class="loan_output_text_container">
            
          
          <div class="output_card_title">
          <h3 class="loan_payment_text">Payment Breakdown</h3>
             <div class="line_4"></div>
          </div>
          <div class="header_loan_container">   
              <p id="payment" class="payment"> $0 </p>
          </div >
          
          <div class = "price_breakdown_container">
              
            <p class = "loan_info" id="total_amount_text">${{PRICE}} Price</p>
            <p class = "loan_info" id="intrest_amount_text"> 0 Monthly Intrest</p>
            <div class="line_2"></div>
            <p class = "loan_info" id="months_amount_text">0 Months</p>
          </div>
          <div class="end_loan_info_container">
            <div class="total_after_text_container total_text_container">
              <p class="total_after_title total_after_titles">Total Payment</p>
              <p class = "end_loan_info" id="total_after_amount_text">0</p>
            </div>
            <div class="total_after_month_text_container total_text_container">
              <p class="total_after_month_title total_after_titles">Monthly Payment</p>
              <p class = "end_loan_info" id="total_after_months_amount_text">0</p>
            </div>
            
            
          </div>
        </div>
      </div>
      </div>
    
    {{/each}}
    {{#else}}
      <p> no rows </p>
    {{/else}}
  {{/if}}
</div>

<script>
  function numberWithCommas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
  }
  
  
  
  function computeLoan(){ 
  const amount = document.querySelector('#amount').innerHTML; 
  const IAMT = parseInt(amount.replace(/,/g, '').replace(/\$/g, ''));
    console.log(IAMT);
    console.log(amount);
  const interest_rate = document.querySelector('#interest_rate').value;
  const months = document.querySelector('#months').value;
  const interest = (IAMT * (interest_rate * 0.01)) / months; 
  let sendIntrest = (interest).toFixed(2);
  let totalAfter = (IAMT + (IAMT * (interest_rate * 0.01))).toFixed(0);
    console.log(totalAfter);
  let payment = ((IAMT / months) + interest).toFixed(0);
  payment = numberWithCommas(payment);
  sendIntrest = sendIntrest.toString().replace(/\\\B(?=(\d{3})+(?!\d))/g, ",");
  totalAfter = numberWithCommas(totalAfter);
  
  document.querySelector('#payment').innerHTML = `$${payment}`
  document.querySelector('#intrest_amount_text').innerHTML = `$${sendIntrest} Monthly Intrest`
  document.querySelector('#months_amount_text').innerHTML = `${months} Months `
  document.querySelector('#total_after_amount_text').innerHTML = `$${totalAfter} `
  document.querySelector('#total_after_months_amount_text').innerHTML = `$${payment} `



      
  }

  
  
</script>